nav{
  width: 100%;
  height: 96px;
  position: fixed;
}
.menu{
  margin-left: 1.5%;
}
.logo{
  margin-left: -73%;
}
.btnLogIn{
  border: none;
  margin-right: 2%;
  border-radius: 25px;
  height: 32px;
  width: 105px;
  background-color: #eeeeee;
}
.txtLogin{
    margin-bottom: -3%;
    color: #0a131b;
    font-size: 16px;
    font-weight: 600;
    font-style: arial;
}

