    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav class="navbar navbar-light bg-light fixed top">
  <img class="menu" src="https://lh3.googleusercontent.com/proxy/6OpO9MjCjC4o-csmGzdyZ4qZh6uzO36WM5HDUbVqGDMMIPXjggT6PUvy4FC9E2v2vt2oLiVSBlWceiF2NK1T0Lm1ruSKNytvqJw3" width="25" height="28" alt="">
    <img class="logo" src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/ee037401cb5d31b23cf780808ee4ec1f.svg" width="148" height="32" alt="">
  
  <button type="button" class="btnLogIn"><span class="txtLogin">Inicia sesión</span></button>
</nav>
<router-outlet></router-outlet>